/* table  */
.table{
    font-size: 1.3em;
    margin-bottom: 50px !important;
    letter-spacing: 0.05em;
   

}

.table-responsive{
    overflow-x: auto;
    scrollbar-color: #0B132B;
}
.table-striped{
background-color: #3a506b19;
}

th{
    background-color: #0B132B;
    color: #ECECEC;
    position: sticky;
    top: 0;
}
td {
    min-width: 100px;
    white-space: normal !important; 
    word-wrap: break-word;  
  
  }

tr:hover {
    background-color: #5bc0be7d !important;
    transition: 0.5s;
}
