.grid-container {
    display: grid;
    grid-template-rows: 60px auto;
    grid-template-columns: 100%;
    grid-template-areas:
        'nav'
        'info'
    ;

}

.info-container {
    grid-area: info;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.info-content {
    width: 90%;
}

.action-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 30px 0 15px 0;

}

.search-container {
    width: 100%;
    display: flex;


}

.searchbox-input {
    width: 50%;
    min-width: 95px;
    max-width: 300px;
    padding: 0 10px 0 10px;
    border-radius: 5px 0 0 5px;
    outline: none;
    border: 2px solid #1a202c;
    font-size: 1.3em;
    font-weight: 400;
}

.searchbox-input:focus {
    border: 3px solid #1a202c;
}

.searchbtn {
    background-color: #1a202c;
    padding: 0 10px 0 10px;
    border-radius: 0 5px 5px 0;
    border: 2px solid #1a202c;
    outline: none;
    color: #ECECEC !important;

}

.searchbtn:hover {
    background-color: #171923;
}

.searchbtn:active {
    background-color: #3A506B;
}

.add-btn,
.back-btn {
    width: 40px;
    padding: 5px 0 5px 0;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: #1a202c;
    color: #ECECEC;
    font-weight: 600;
    margin-left: 5px;
}

.back-btn {
    width: 90px;
}

.back {
    padding: 5px 10px 5px 0;
    width: 20px;
}


.add-btn:hover, .back-btn:hover{
    background-color: #171923;
}

.add-btn:active, .back-btn:active {
    background-color: #3A506B;
}

.action-btn-container {
    display: flex;
    gap: 0.5em;

}

.action-btn {
    color: #ECECEC !important;
    padding: 4px;
    border-radius: 5px;
    outline: none;
    border: none;
}

.edit-btn {
    background-color: #1a202c;
}

.edit-btn:hover {
    background-color: #171923;
}

.edit-btn:active {
    background-color: #3A506B;
}

.restore-btn {
    background-color: #4CB648;
}

.restore-btn:hover {
    background-color: #379a34;
}

.del-btn {
    background-color: #f71735;
}

.del-btn:hover {
    background-color: #e43d3d;
}

.del-btn:active {
    background-color: #b26767;
}

.poster {
    min-width: 100px;
    max-width: 150px;
    object-fit: cover;
}

@media screen and (min-width: 768px) {

    .button-container {
        margin: 30px 0 20px 0;
    }
}

@media screen and (min-width: 1280px) {
    .grid-container {
        grid-template-columns: 250px calc(100% - 250px);
        grid-template-rows: auto auto;
        grid-template-areas:
            'nav info '
            'nav info';
    }

}


/* modal css */

h3 {
    font-weight: 600;
}

.input-box {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.input-box>* {
    width: 100%;
    height: 30px;
    font-size: 1.3em;
}

.input-box input[type="text"] {
    outline: none;
    border-radius: 5px;
    border: 3px solid #1a202c;
    margin-bottom: 10px;
    padding-left: 5px;
}

.input-box input:hover {
    background-color: #3f4a5c14;
}

.input-box input:focus {
    background-color: #3f4a5c37;
}

.btn {
    padding: 5px 40px 5px 40px;
    border-radius: 5px;
    outline: none;
    border: 2px solid #1a202c;
    font-weight: 600;
}

.btn-cancel {
    background-color: transparent;
    color: #1a202c;
}

.btn-cancel:hover {
    background-color: #1C2541;
    color: #ECECEC;
}

.btn-add {
    background-color: #1a202c;
    color: #ECECEC;
}

.btn-add:hover {
    background-color: #1C2541;
    color: #ECECEC;
    border: 2px solid #1C2541;
}

.desctextarea {
    height: 100px !important;
    outline: none;
    border-radius: 5px;
    border: 3px solid #1a202c;
    padding: 10px 20px 10px 10px;
}

/* .input-box input[type="file"]{
    display: none;
}

.fileLabel{
    width: 300px;
    border-radius: 6px;
    border: 2px dashed #222831;
    text-align: center;
    vertical-align: middle;
    padding: 25px 0 50px 0;
    cursor: pointer;
}

.fileLabel:hover{
    background-color: #3f4a5c37;
} */