.cinema-table-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2em;
    margin-bottom: 50px;
}


/* table  */
.table {
    font-size: 1.3em;
    margin-bottom: 50px !important;
    letter-spacing: 0.05em;
}

.inputbox {
    width: 100%;
    text-align: end
}

.btn {
    background-color: #0B132B;
    color: #ECECEC;
    outline: none;

}

.btn:hover {
    background-color: #1C2541;
    color: #ECECEC;

}

.table-responsive {
    min-width: 235px;
    overflow-x: auto !important;
    height: 280px;
    scrollbar-color: #0B132B;
    margin: 10px 0 50px 0;
    border-radius: 7px;

}



.table-striped {
    background-color: #3a506b0a;
}

th {
    background-color: #0B132B;
    color: #ECECEC;
    position: sticky;
    top: 0;
    white-space: normal !important;
    word-wrap: break-word;
}

td {

    white-space: normal !important;
    word-wrap: break-word;

}

tr:hover {
    background-color: #5bc0be7d !important;
    transition: 0.5s ease-in;
}